/*==================================================== */
/* All pages */

*{
    padding: 0px;
    margin: 0px;        
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
*::-webkit-scrollbar {
    display: none;
}
.container-fluid{
    background-color: gray;
    padding: 0px;
    overflow-x: hidden;
}
.footer{
    background-color: bisque;
}
.top{
    background-color: bisque;
}
.profileIcon{
    padding-left: 10px;
}
.cartIcon{
    padding-left: 10px;
    padding-right: 10px;
}
a{
    font-style: italic;
    text-decoration: none;
    color: gold;
}
a:hover{
    color:orangered
}
hr{
    border: 1px solid black;
}
ul{
    padding: 0px;
}
.test{
    color: bisque;
}
.profileIcon{
    padding-left: 10px;
}
.cartIcon{
    padding-left: 10px;
    padding-right: 10px;
}
label{
    font-style: italic;
}

/*==================================================== */
/* UserBase page */

.usersData{
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 10px;
    border-collapse: collapse;
    border-radius: 30px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px black; /* this draws the table border  */

}

.th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.td{
    border: 1px solid black;
    padding: 7px;
    text-align: center;
}

.adminPageTitle{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.editButton{
    font-style: italic;
    text-decoration: none;
    color: gold;
}
.editButton:hover{
    color:orangered
}

.inputChanges{
    background-color: gray;
    border: none;
}
input[type=text]:focus {
    border: 1px solid #555;
    
}

.isChecked:checked{
    background-color: orangered;
}

/*==================================================== */
/* Index/Main page */

#banner{
    border: 3px solid darkgray;
    border-radius: 7%;
}

.discInfoBox{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}
.discInfoBox > button{
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 7px 5px 5px gold;
    font-style: italic;
}
.discInfoBox > button:hover{ 
    box-shadow: 7px 5px 5px darkred;
    font-weight: bold;
}
.movieTitle{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}
.moviePriceName{
    font-size: 19px;
}
.moviePrice{
    font-size: 19px;
}
.movieOficialPrice{
    font-size: 19px;
    font-weight: bold;
}
.movieImage{
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 25px;
    box-shadow: 7px 5px 5px gold;
}
.movieImage:hover{
    box-shadow: 7px 5px 5px darkred;
}
.arrowButtonLeft{
    text-align: left;
    padding: 20px;
    margin-left: 20px;
}
.arrowButtonRight{
    text-align: right;
    padding: 20px;
    margin-right: 20px;
}
.arrowButtonRight > button{
    text-decoration: none;
    background-color: transparent;
    border: none;
}
.arrowButtonLeft > button{
    text-decoration: none;
    background-color: transparent;
    border: none;
}
.normalMovieInfo{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
}


/*==================================================== */
/* Cart page */

.cartTitle{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
/* .cartOfFilms{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
} */
.clearTd{
    border: none;
    padding: 7px;
}
.cartClearButton{
    padding: 5px;
    margin: 5px;
    width: 100px;
    border-radius: 25px;
    box-shadow: 7px 5px 5px gold;
    font-style: italic;
}
.cartClearButton:hover{
    box-shadow: 7px 5px 5px darkred;
}
.cartPayButton{
    padding: 5px;
    margin: 5px;
    width: 100px;
    border-radius: 25px;
    box-shadow: 7px 5px 5px gold;
    font-style: italic;
}
.cartPayButton:hover{
    box-shadow: 7px 5px 5px darkred;
}
/* .cartClearButton > Button:hover{
    box-shadow: 7px 5px 5px darkred;
    font-weight: bold;
}
.cartPayButton > Button:hover{
    box-shadow: 7px 5px 5px darkred;
    font-weight: bold;
} */



/*==================================================== */
/* Login page */

.loginButton{
    padding: 5px;
    margin: 5px;
    width: 65px;
    border-radius: 25px;
    box-shadow: 7px 5px 5px gold;
    font-style: italic;
}

/*==================================================== */
/* Registration page */

.registerButton{
    padding: 5px;
    margin: 5px;
    width: 80px;
    border-radius: 25px;
    box-shadow: 7px 5px 5px gold;
    font-style: italic;
}


/*==================================================== */
/* Profile page */

.test{
    color: bisque;
}
.profileIcon{
    padding-left: 10px;
}
.cartIcon{
    padding-left: 10px;
    padding-right: 10px;
}
.FromUPaBit{
    padding-top: 20px;
}
.UsersInfo{
    border-left: 1px solid black;
    padding-top: 15px;
    text-align: left;
}
.UsersInfo > p{
    color: white;
}
.personalMovies, th, td {
    border: 1px solid black;
}
.personalMovies{
    border-collapse: collapse;
    border-radius: 30px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px black; /* this draws the table border  */
}
.profileMovieTitle{
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
.profileMovieInfo{
    text-align: center;
    color: white;
}
.lastText{
    padding-bottom: 15px;
}
.iDColumn{
    width: 100px;
}
.imageColumn{
    width: 600px ;
}
.titleColumn{
    width: 200px ;
}
.termColumn{
    width: 200px ;
}
.profilePicture{
    width: 182px;
    height: 182px;
}


.profilePictureSelection{
    border: none;
}
.selectProfilePicture{
    width: 80%;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #f00;   
}
.input-hidden {
    position: absolute;
    left: -9999px;
  }
  
  input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    border-radius:50%;
    box-shadow: 0 0 3px 3px darkorange;
  }
  
  /* Stuff after this is only to make things more pretty */
  input[type=radio] + label>img {
    /* border: 1px dashed #444; */
    transition: 500ms all;
  }
  
  input[type=radio]:checked + label>img {
    transform: 
      rotateZ(-10deg) 
      rotateX(10deg);
  }

.checkItButon{
    margin-left: 5px;
    width: 90px;
    border-radius: 25px;
    box-shadow: 7px 5px 5px gold;
    font-style: italic;
}
.checkItButon:hover{
    box-shadow: 7px 5px 5px darkred;
}

/*==================================================== */
/* Media */

@media only screen and (min-width: 1170px){
    .navbarButton {
        width: 100px;
    }
    .movieImage{
        width: 90%
    }
    .tableMovieImage{
        width: 75%
    }
    .thLast, .tdLast{
        width: 200px;
    }
    #banner{
        height: 450px;
        width: 100%;
    }
}
@media only screen and (max-width: 1169px) and (min-width: 970px){
    .navbarButton {
        width: 85px;
    }
    .movieImage{
        width: 65%
    }
    .tableMovieImage{
        width: 80%
    }
    #banner{
        height: 450px;
        width: 100%;
    }
}
@media only screen and (max-width: 969px) and (min-width: 750px){
    .navbarButton {
        width: 75px;
    }
    .movieImage{
        width: 55%
    }
    .tableMovieImage{
        width: 80%
    }
    #banner{
        height: 450px;
        width: 100%;
    }
}

/*==================================================== */